body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.text {
  font-size: 2rem;
}
.boards {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}

.boardOne {
  border: 1px solid black;
  --board-height: 40vw;
  height: var(--board-height);
  width: var(--board-height);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.boardTwo {
  border: 1px solid black;
  --board-height: 40vw;
  height: var(--board-height);
  width: var(--board-height);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.square {
  border: 1px solid gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked {
  background-color: black;
}

.hover {
  background-color: black;
}
